@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.App {
  text-align: center;
}

body {
  font-family: 'Noto Sans Mono';
}

.black-text-box {
  background-color: black !important;
  color: greenyellow !important;
}

.blue-text-box {
  background-color: blue;
  color: rgb(194, 229, 245);
}

.green-text-box {
  background-color: green;
  color: rgb(171, 238, 188);
}

.pink-text-box {
  background-color: pink !important;
  color: purple !important;
}

.box-sizer {
  min-height: 88vh;
  width: 94vw;
  margin: 1vh 1vw 1vh 1vw;
  padding: 1vh 1vw 1vh 1vw;
}

.toolbar-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.left-justify-override {
  justify-items: flex-start !important;
  justify-content: flex-start !important;
}

.item-gapper {
  margin-left: 10px;
  margin-right: 10px;
}

.editor-button {
  filter: grayscale(20%);
  background-color: transparent !important;
  padding: 8px 5px 5px 5px;
  color: white !important;
}

.editor-button:hover{
  filter:sepia(50%);
}

.editor-button:active{
  filter:hue-rotate(180deg)
}

.center-all{
  justify-items: center !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.vertical-margins {
  margin: 1rem 0rem 1rem 0rem !important;
}

.horizontal-margins {
  margin: 0rem .5rem 0rem .5rem !important;
}

.editor-card {
  display: flex;
  padding: .5rem;
}