@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.App {
  text-align: center;
}

body {
  font-family: 'Noto Sans Mono';
}

.black-text-box {
  background-color: black !important;
  color: greenyellow !important;
}

.blue-text-box {
  background-color: blue;
  color: rgb(194, 229, 245);
}

.green-text-box {
  background-color: green;
  color: rgb(171, 238, 188);
}

.pink-text-box {
  background-color: pink !important;
  color: purple !important;
}

.box-sizer {
  min-height: 80vh;
  width: 98vw;
  margin: 10px;
  padding: 10px;
}

.toolbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.item-gapper {
  margin-left: 10px;
  margin-right: 10px;
}

.editor-button {
  filter: grayscale(20%);
  padding: 8px 5px 5px 5px;
}

.editor-button:hover{
  filter:sepia(50%);
}

.editor-button:active{
  filter:hue-rotate(180deg)
}
